body {
    color: rgb(255, 255, 255);
    background: rgb(58, 61, 65);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 6px rgba(255, 0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
} 

section{
background: rgba(255, 0, 0, 0.61);    
padding-bottom: 88px;
padding-top: 88px;
display: flex;
justify-content: center;
}
  
.chamada-texto{
  margin-right: 20px;
  
}

h1{
    font-size: 40px;
}


p{
    font-size: 20px;
}

IMG{


height: 300;


}






















