body {
    color: rgb(255, 255, 255);
    background: rgb(78, 142, 214);
    margin: 0px;
}

header {
    border-bottom: solid 6px rgb(32, 50, 213);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
} 

section{
background: rgb(32, 50, 213);    
padding-bottom: 88px;
padding-top: 88px;
display: flex;
justify-content: center;
}
  

.chamada-texto{
  margin-right: 20px;
}




















































